MONGO_URI=mongodb://localhost:27017

MOCKBEE_APP_NAME=MockBee
MOCKBEE_APP_URL=http://127.0.0.1:8001

EMAIL_PROVIDER=resend
EMAIL_FROM=MockBee <mockb8888@gmail.com>
RESEND_API_KEY=re_CvRQJcNB_LCvWSHAB4hFXWmygeTGqEduz